/*-- scss:defaults --*/
$primary: #114b8f;
$code-color: #114b8f;

/*-- scss:rules --*/
/* Change listing's post metadata's reading time */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

div.listing-reading-time {
  font-size: 0.8em;
}

/* Change listing's post metadata size */
div.quarto-post .metadata {
  flex-basis: 20%;
  text-align: right;
  font-size: 1em;
  margin-top: 0;
}

/* Change Note Callout color */
div.callout-note.callout {
  border-left-color: #114b8f;
}

/* Update the line spacing between TOC items */
.sidebar nav[role=doc-toc]>ul li a {
  padding-bottom: 0.7rem;
}

/* Increase the space between the Search bar and the listing */
div.listing-actions-group {
  margin-bottom: 20px;
}

/* Change subtitle color */
/* Need to place before hover change else hover does not take effect */
div.quarto-post .listing-subtitle a {
  color: #797979;
}

/* Change hover color */
div.category:hover {
  color: #114b8f;
}

div.quarto-post .listing-categories .listing-category:hover {
  color: white;
  background-color: #114b8f;
  border-color: #114b8f;
}

div.quarto-post a:hover {
  color: #114b8f;
}

div.quarto-title .quarto-categories .quarto-category:hover {
  background-color: white;
  color: #114b8f;
  opacity: 100%;
}

/* Change About text align */
div.quarto-about-jolla main {
  text-align: left;
  /* Do not change width like this since it would break on mobile */
  /* width: 500px; */
}

/* // Change subtitle font size */
p.subtitle.lead {
  font-variation-settings: 'wght' 400;
  font-size: 14.67px;
}

// Change title font weight
a.navbar-brand {
  font-variation-settings: 'wght' 600;
}

// Change body font color
body.nav-fixed.quarto-light {
  color: black;
}

// Change tilte font color
// .quarto-title-banner .quarto-title .title {
//   color: white;
//   opacity: 80%;
// }
